<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <title>Contact</title>
      <link rel="stylesheet" href="css/style1.css">
  </head>
  <body>
    <section class="table">
      <table cellspacing="30" class="table-1">
        <tr>
          <td><h1>Name</h1></td>
          <td><h1>Roll No</h1></td>
          <td><h1>Phone No</h1></td>
        </tr>


        <tr>
          <td><h1>Sai Madhav</h1></td>
          <td><h1>18011A0538</h1></td>
          <td><h1>7075928715</h1></td>
        </tr>


        <tr>
          <td><h1>Karnati Aryan</h1></td>
          <td><h1>18001A0526</h1></td>
          <td><h1>9381212028</h1></td>
        </tr>


        <tr>
          <td><h1>Satwik</h1></td>
          <td><h1>18011A0520</h1></td>
          <td><h1>8185045136</h1></td>
        </tr>
      </table>
    </section>

  </body>
</html>
