<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>
  <link rel="stylesheet" href="css/style2.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom styles for this template -->

  </head>

  <body class="text-center">
    <form class="form-signin" action="/CusLogin" method="post">

      <h1 class="h3 mb-3 font-weight-normal">LOGIN</h1>

      <input type="text" name="cid" id="top" class="form-control" placeholder="Login Id" required autofocus>

      <input type="email" name="cmail" id="middle" class="form-control" placeholder="Email" required>

      <input type="password" name="cpw" id="bottom" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" name="list" value="CusLogin" type="submit">LOGIN</button>
    <p class="mt-5 mb-3 text-muted">&copy; FaBeVe</p>
    </form>
  </body>
</html>
<!--<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Customer Login</title>
  <link rel="stylesheet" href="css/style2.css">
</head>

<body>
  <form class="" action="mailto:saimadhav24601@gmail.com" method="post">

    <table cellspacing="30px" class="table-1">
      <tr>
        <td class="td-1">Account Login</td>

      </tr>
      <tr>
        <td>
          <hr>
        </td>
      </tr>
      <tr>
        <td>
          <table cellspacing="30px" class="table-2">
            <tr>
              <td> <label for="">
                  <h1>Login ID</h1>
                </label></td>
              <td> <input type="text" name="cid" value=""></td>

            </tr>
            <tr>
              <td><label for="">
                  <h1>Gmail</h1>
                </label></td>
              <td><input type="text" name="gmail" value=""></td>
            </tr>
            <tr>
              <td>
                <h1>Password</h1>
              </td>
              <td><input type="password" name="password" value="">
              </td>
            </tr>


          </table>
        </td>
      </tr>
      <tr>
        <td>
          <hr>
        </td>
      </tr>
      <tr>
        <td><input type="submit" name="submit"></td>
      </tr>
    </table>
</form>
  <div class="CusLogin-1">
    <h1>Haven't Signed in yet?</h1>
    <p>We have hundreds of event organizer switching to FaBeVe</p>
    <p>Create your own event</p>
    <a href="CusSignin.html">SIGN IN</a>

  </div>


</body>

</html>
